.header{
    background-color: rgb(141, 139, 137);
}
body{
    background: url(../imgsUtiles/fondo.webp);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}
h1{
    background-color: beige;
}
#logo{
    width: auto;
    height: auto;
}