@import url(iniciasesion.css);
@import url(servicios.css);
@import url(quienessomos.css);
@import url(menu.css);
@import url(reseñas.css);
@import url(inicio.css);
@import url(registro.css);

.header{
    background: url(../imgsUtiles/cabecera.webp);
    width: 65%;
    height: auto;
    margin: 0 auto;
    top: 0; left: 0;
    box-shadow: 2px 0px 10px;
    margin-top: 10px;
}

body{
    background: url(../imgsUtiles/fondo4.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.header h1{
    width: 72%;
    margin: auto;
    font-size: 45px;
    background-color: rgb(103, 198, 221);
}

.header #header__logo{
    width: 11.5%;
    margin: 5px;
    float:left;
    border-radius: 1em;
    border-style:inset;
}

.header p{
    background-color: rgb(103, 198, 221);
    width: 50%;
    margin: auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.link-ingreso{
    text-decoration: none;
    color:aliceblue;
    background-color: rgb(77, 71, 71);
    margin: 85%;
    padding: .3em;
}

.contenedorPrincipal{
    background-image: url(../imgsUtiles/principal.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    width: 65%;
    height: auto;
    margin: auto;
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3{
    font-family:serif
}

h1{
    font-family: 'Times New Roman', Times, serif;
}

.contenedorPrincipal img{
    float:left;
    padding-right: 10px;
    width: 29%;
}

section{
    background-color: rgb(124, 229, 243);
    color: black;
    background-position: 5%;
    width: 80%;
    height: auto;
    margin: auto;
    border-style:groove;
    transition: 0.5s;
    object-fit: cover;
}

section:hover{
    transform: scale(1.1);
}

.contenedorPrincipal #necesidad{
    background-color: azure;
    width: 80%;
    margin: auto;
    padding: 10px;
}

.contenedorPrincipal #ofrecemos{
    background-color: rgb(191, 202, 202);
    width: 80%;
    margin: auto;
}

#ofrecemos .ofrecemos__ofrecimientos{
    background-color: rgb(124, 229, 243);
    width: 30%;
    border-color: rgb(191, 202, 202);
    font-size: 22px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto;
    border-style: solid;
    border-color: rgb(172, 172, 172);
    transition: 0.5s;
    object-fit: cover;
    cursor:pointer;
}
.ofrecemos__ofrecimientos:hover{
    transform: scale(1.1);
}

footer{
    background-color: bisque;
    width: 100%;
    text-align: center;
    margin-top: -5.5%;
    margin: 0 auto;
    padding: 15px;
}







