@import url(iniciasesion.css);
@import url(servicios.css);
@import url(quienessomos.css);
@import url(menu.css);
.header{
    background-color: rgb(141, 139, 137);
    width: 65%;
    height: 70%;
    text-align: center;
    margin: 0 auto;
    top: 0; left: 0;
}

body{
    background: url(../imgsUtiles/fondo4.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

#contenedorPrincipal{
    background-color: gainsboro;
    width: 65%;
    height: auto;
    margin: 0 auto;
}

h1{
    background-color: beige;
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3{
    font-family:serif
}


h1{
    font-family: 'Times New Roman', Times, serif;
}

section{
    background-color: rgb(96, 178, 255);
    color: black;
    background-position: 5%;
    width: 50%;
    height: auto;
    margin: auto;
    border-style:groove;
}

#untitle{
    text-align: center;
}

.info-servicios{
    border-color: black;
    border-style:double;
}

.reseñas{
    border-color: black;
    border-style:double;
}

.reseñas__photo{
    border-radius: 1cm;
    width: 5%;
    height: auto;
}

/*nav{
    width: 20%;
    background-color: #333;
    font-size: 20px;
    margin-top: 50px;
}

.lista-principal{
    list-style: none;
    display: inline;
    text-align: center;
}

.lista-principal > li > a{
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration:none
}

.lista-principal > li:hover{
    background-color: red
}

.menu-despliegue{
    position: absolute;
    display: none;
    list-style:none;
    width: 200px;
    background-color: rgba(0, 0, 0, 5);
}

.lista-principal li:hover .menu-despliegue{
    display: block;
}

.menu-despliegue li:hover{
    background-color: black;
}

.menu-despliegue li a{
    display: block;
    color: white;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
}*/

footer{
    background-color: bisque;
    width: 100%;
    height: 8%;
}

@media (max-width:480px) {
    body{
        font-size: 90%;
    }
}






