.contenedorPrincipal3{
    background-image: url(../imgsUtiles/principal.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    width: 65%;
    height: auto;
    margin: auto;
}

.descripcion{
    background-color: rgb(80, 183, 214);
    margin-bottom: -15px;
    margin: auto;
    width: 80%;
    padding: 2em;
}

.descripcion #descripcion__img{
    float:right;
    padding-left: 30px;
    width: 35%;
}

#caracteristicas li{
    list-style: inside;
}

 #caracteristicas{
    background-color: rgb(191, 202, 202);
    margin: 25px;
    width: 80%;
    margin: auto;
    padding: 20px;
}