.reseñas{
    background-color: #d7f1ed;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 30%;
    height: auto;
    margin: auto;
}