.info-servicios{
    background-color: #d7f1ed;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 30%;
    height: auto;
    margin: auto;
}

#contenedor-principal{
    border: solid 1px blue;
    margin: 10px;
}

.header{
    background-color: rgb(141, 139, 137);
    width: 65%;
    height: 70%;
    margin: 0 auto;
    top: 0; left: 0;
}