.contenedorPrincipal2{
    background-image: url(../imgsUtiles/principal.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    width: 65%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.info-servicios{
    background-color: #d7f1ed;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 30%;
    height: auto;
    display: block;
    margin-bottom: 20px;
    margin: auto;
}

.info-servicios img{
    width: 100%;
    margin: auto;
}


/*.contenedorPrincipal2 .info-servicios{
    float: right;
    padding-left: 20px;
    padding-right: 20px;
    width: 40%;
}